[submodule "argon-roblox"]
	path = argon-roblox
	url = https://github.com/ArgonFork/argon-roblox
[submodule "argon-vscode"]
	path = argon-vscode
	url = https://github.com/ArgonFork/argon-vscode
[submodule "argon"]
	path = argon
	url = https://github.com/ArgonFork/argon

